.texto-footer p{
    font-size: 13px;
    margin-bottom: 3px;
    font-family: 'Montserrat',serif;
}

.iconos-footer{
    text-align: right;
}

.iconos-footer-redes{
    margin-left:5px;
    margin-right:5px;
}

@media (max-width: 575px) {
    .texto-footer p{
        font-size: 10px;
    }

    .iconos-footer{
        text-align: center;
    }
}