.texto-somos h1{
    font-family: 'Montserrat', serif;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.texto-somos{
    margin-top: 100px !important;
}

.texto-somos p{
    font-family: 'Montserrat',serif;
    font-size: 20px;
}

@media (max-width: 575px) {
    .texto-somos{
        margin-top: 30px;
    }

    .texto-somos h1{
        font-size: 50px;
    }

    .boton-contacto{
        margin-bottom: 40px;
    }
}