.get-info .col {
    padding:0;
}

.get-info .container-fluid{
    padding:0;
}

.arte-2{
    padding: 0;
}

.get-info .container-fluid .row .col-sm-6{
    padding:0 !important;
}

/*.get-info .container{
    margin: 0;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    margin-right: 0;
}*/

@media (max-width: 575px) {
    .get-info{
        flex-wrap: wrap;
    }

    .get-info .container-fluid .row{
        flex-wrap: wrap;
    }

    .get-info .container-fluid .row .arte-2 h1{
        font-size: 50px;
    }
    .get-info .container-fluid .row .arte-2 button{
        font-size: 20px;
    }
}